/* light scheme */
:root[color-mode="light"] {
    --bg-body: #FFFFFF;
    --color-text-base: #000000;
    --color-text-a: #000000;
    --color-text-a-hover: #000000;
    --color-text-a-active: #000000;
    --color-text-sub: #c0c0c0;
    --color-text-md-title: #24292e;
    --color-text-md-content: #000000;
    --color-text-md-code: #88ab50;
    --bg-text-md-code: #f2f7edb5;
    --bg-block-md-quote: #f7f7f7;
    --color-block-md-quote: #000000;
    --color-block-md-quote-border: #d5d5d5;
    --color-divider-md-border: #5858581a;
    --bg-content-search: rgb(255 255 255 / 60%);
    --bg-block-md-pre: #e6e6e6;
    --color-text-md-pre: #555555;
    --bg-block-md-table: #ffffff;
    --bg-block-md-table-2: #f6f8fa;
    --color-border-md-table: #dfe2e5;
}

/* dark scheme */
:root[color-mode="dark"] {
    --bg-body: #2E3440;
    --color-text-base: #8e8e8e;
    --color-text-a: #8e8e8e;
    --color-text-a-hover: #FFFFFF;
    --color-text-a-active: #FFFFFF;
    --color-text-sub: #8e8e8e;
    --color-text-md-title: #eceff4;
    --color-text-md-content: #eceff4;
    --color-text-md-code: #e96900;
    --bg-text-md-code: #3b4252;
    --bg-block-md-quote: #3a4252;
    --color-block-md-quote: #abb9cf;
    --color-divider-md-border: #ffffff4f;
    --bg-content-search: rgb(59 66 82 / 60%);
    --bg-block-md-pre: #3a4252;
    --color-text-md-pre: #abb9cf;
    --bg-block-md-table: #2E3440;
    --bg-block-md-table-2: #313744;
    --color-border-md-table: #4c566a;
}
